/node_modules
/public/hot
/public/css
/public/js
/public/storage
/storage/*.key
/vendor
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.idea
_ide_helper_models.php
.phpstorm.meta.php
_ide_helper.php
composer.lock
